body {
  background-color: $gray-800;
}

// Anchor
a {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Button
.btn {
  border: 0;
  padding: 8px 16px;
  color: $white;

  // Button colors
  &-orange {
    background-color: $orange;
    color: $white;
  }

  &-gray {
    background-color: $gray-800;
    color: $white;
  }

  // Button sizes
  &-sm {
    padding: 4px 12px;
  }
}

// Table
%table-constants {
  border: 1px solid $black;
  padding: 8px 16px;
}

table {
  @extend %table-constants;
  width: 100%;
  border-collapse: collapse;
  background-color: $table-background-color;
  color: $white;

  th {
    @extend %table-constants;
    font-weight: bold;
  }

  td {
    @extend %table-constants;
  }
}
