body {
  background-color: #343233;
  color: $main-white;
}

// Anchor
a {
  color: $main-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Button
.btn {
  border: 0;
  padding: 8px 16px;
  color: $main-white;

  // Button colors
  &-orange {
    background-color: $orange;
    color: $main-white;
  }

  &-gray {
    background-color: $gray-800;
    color: $main-white;
  }

  // Button sizes
  &-sm {
    padding: 4px 12px;
  }
}

// Table
%table-constants {
  border: 1px solid $black;
  padding: 8px 16px;
}

.table {
  @extend %table-constants;
  width: 100%;
  border-collapse: collapse;
  background-color: $table-background-color;

  th {
    @extend %table-constants;
    font-weight: bold;
  }

  td {
    @extend %table-constants;
  }
}

// Input
.input-wrapper {
  width: 350px;
  margin-top: 10px;

  .input {
    width: 100%;
    padding: 8px;
  }
}

// Select
.select-wrapper {
  position: relative;
  width: 350px;
  margin-top: 10px;
  // Select Icon
  &::after {
    font-size: 24px;
    color: $black;
    content: "▾";
    position: absolute;
    right: 10px;
    top: 7px;
  }

  .select {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 8px;
    border: none;
  }
}
