// Navigation bar
@mixin navbar($background-color) {
  background-color: $background-color;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  .navbar {
    &-menu {
      display: flex;

      &-item + li {
        margin-left: 10px;
      }

      &-logo {
        font-weight: bold;
      }
    }
  }
}

.navbar-dark {
  @include navbar($navbar-background-color);

  .navbar-menu-logo a {
    color: $orange;
  }
}

.navbar-light {
  @include navbar($navbar-light-background-color);

  .navbar-menu-logo a {
    color: $main-white;
  }
}
