@mixin sidebar($background-color, $color) {
  .sidebar {
    display: flex;
    flex-direction: column;
    background: $background-color;
    text-align: center;

    &-item {
      padding: 10px 15px;
    }
  }
}

.sidebar-dark {
  @include sidebar($gray-900, $main-white);

  .active {
    background-color: $orange;
  }
}

.sidebar-light {
  @include sidebar($orange, $main-white);

  .active {
    background-color: $navbar-background-color;
  }
}
